/*AL$Styles*/
p {
    color: #000000;
    line-height: 115%;
    text-align: left;
    orphans: 2;
    widows: 2;
    margin-bottom: 0.1in;
    direction: ltr;
    background: transparent
}
p.subsection-header {
    font-family: "Garamond", serif; font-size: 12pt; font-weight: bold;
    line-height: 115%; orphans: 2; widows: 2;
    margin-top: 0.08in; margin-bottom: 0in
}
h2 {
    font-family: "Garamond", serif; font-size: 14pt; font-weight: bold;
    line-height: 115%; orphans: 2; widows: 2;
    margin-top: 0.15in; margin-bottom: 0in
}
p.western { font-family: "Calibri", serif; font-size: 11pt; so-language: en-US }
p.cjk { font-family: "Calibri"; font-size: 11pt; so-language: en-US }
p.ctl { font-family: "Tahoma"; font-size: 11pt; so-language: ar-SA }

h1 {font-family: "Garamond", serif; text-transform: uppercase; color: #000000; letter-spacing: 1.5pt; line-height: 100%; text-align: center;
    page-break-inside: avoid;
    orphans: 2; widows: 2;
    margin-top: 0.08in; margin-bottom: 0in;
    border-top: 1.50pt solid #000000; border-bottom: none; border-left: none; border-right: none;
    padding-top: 0.01in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in;
    direction: ltr; background: transparent }

h1.western { font-family: "Garamond", serif; font-size: 14pt; so-language: en-US; font-weight: bold }
h1.cjk { font-family: "Calibri"; font-size: 11pt; so-language: en-US; font-weight: bold }
h1.ctl { font-family: "Tahoma"; font-size: 11pt; so-language: ar-SA }
h1.title {font-size: 14pt}
h1.section-header {font-size: 12pt}
.header {
        font-family: "Garamond", serif; font-size: 16pt; font-variant: normal; font-weight: normal;
        line-height: 100%; margin-bottom: 0in;
        border-top: none; border-bottom: 2.00pt double #000000; border-left: none; border-right: none;
        padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in
}
table {
    font-family: "Garamond", serif; font-size: 10pt; font-weight: normal; font-style: normal;
    border: none; padding: 0in; orphans: 2; widows: 2; margin-left: 0.025in
}

a:link { color: #0563c1; text-decoration: underline }

.education{ font-family: "Garamond", serif; font-size: 10pt; line-height: 100%; orphans: 2; windows: 2; margin-bottom: 0in; background: transparent }
.career-summary { font-family: "Garamond", serif; font-size: 11pt; line-height: 115%; orphans: 2; widows: 2; margin-top: 0.08in; margin-bottom: 0in }
.achievements{
    font-family: "Garamond", serif; font-size: 10pt;
    line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in; background: transparent
}
.skills{
    font-family: "Garamond", serif; font-size: 10pt;
    line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in; background: transparent
}
.education-summary{
    font-family: "Garamond", serif; font-size: 10pt;
    line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in; background: transparent
}
.prof-exp-details{
    margin-bottom: 0in;
    font-family:"Garamond", serif; font-size:10pt
}

.page-break {
    page-break-after: always
}

.compact-list {
    margin: 0;
    padding-left: 15px
}

.company_name_employment_history{ font-family: "Garamond", serif; font-size: 20pt; font-weight: bold; font-style:italic; font-variant: small-caps}
.company_name_employment_history_summary{ font-family: "Garamond", serif; font-size: 14pt; font-weight: bold; font-style:italic; font-variant: small-caps}
.company_name_employment_history{ font-family: "Garamond", serif; font-size: 10pt; font-weight: bold; font-style:italic}
.position_employment_history_summary{ font-family: "Garamond", serif; font-size: 10pt; font-weight: bold }
.position_employment_history{ font-family: "Garamond", serif; font-size: 10pt; font-weight: bold }
.location_employment_history_summary {font-family: "Garamond", serif; font-size: 10pt}
.location_employment_history {font-family: "Garamond", serif; font-size: 10pt}
.employment_period_employment_history{font-family: "Ariel", serif; font-size: 8pt}
.employment_period_employment_history{font-family: "Ariel", serif; font-size: 8pt}

.applicant_name_header{ font-variant: small-caps; font-weight: bold; font-size: 32pt }


@page {
    size: 8.5in 11in;
    margin-left: 0.5in;
    margin-right: 0.5in;
    margin-top: 0.5in;
    margin-bottom: 0.1in }

@media print {
  .page-break{
     clear: both;
     page-break-after: always
  }
  .no-print {
  display: none
  }
  body {
    padding: 0;
    margin: 0;
    font-size: 9pt;
    background-color: #fff
  }
}