/*Hawk - Modern Blue$AL-Blue*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.career-summary {
    font-family: "Garamond", serif; font-size: 11pt;
    line-height: 115%; orphans: 2; widows: 2;
    margin-top: 0.05in; margin-bottom: 0in
}

#header{
    width: 100%;
    border-collapse: collapse;
    border-top: none; border-bottom: 3.00pt double #3498db; border-left: none; border-right: none;
}
#header table{
    width:100%
}
.table-full-width {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.professional_experience_item table{
    width: 100%;
    border-collapse: collapse;
}
.exp_details_company{
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding-left: 10px;
}
.exp_details_industry{
    font-style: italic;
    text-align: left;
    padding-left: 10px;
}
.exp_details_position{
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.exp_details_location {
    text-align: right;
    padding-right: 10px;
}
.exp_details_period {
    text-align: right;
    padding-right: 10px;
}

.left-aligned-column{
    text-align: left;
    padding-left: 10px;
}
.right-aligned-column {
    text-align: right;
    padding-right: 10px;
}
span.text-highlight{
    font-weight: bold;
}
span.text-bold{
    font-weight: bold;
}
span.applicant_name_header{
    font-family: "Garamond", serif; font-size: 11pt;
    font-variant: small-caps; font-weight: bold; font-size: 20pt
}
span.phone{
    font-family: 'Poppins', sans-serif;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 10pt
}
span.email{ color: #0000f0; font-weight: normal; font-size: 12pt }
span.degree{ font-weight: bold; font-variant: small-caps;}
span.ed_industry{ font-style: italic;}
span.career-summary-years-technical-experience-highlight{ font-weight: bold;}
span.career-summary-years-leadership-experience-highlight{ font-weight: bold;}
span.career-summary-contributions-highlight{ font-weight: bold;}
span.career-summary-competencies-highlight{ font-weight: bold;}
span.career-summary-achievement-highlight{ font-weight: bold;}
span.career-summary-skills-highlight{ font-weight: bold;}


body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #2c3e50;
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  font-size: 10pt;
  background-color: #f9f9f9;
}

h1 {
    font-family: "Garamond", serif; font-variant: small-caps;
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase; color: #000000;
    letter-spacing: 1.5pt; line-height: 100%; text-align: center;
    page-break-inside: avoid;
    orphans: 2; widows: 2;
    margin-top: 0.2in; margin-bottom: 0in;
    border-top: 1.50pt solid color: #2c3e50;; border-bottom: none; border-left: none; border-right: none;
    padding-top: 0.1in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in;
    direction: ltr; background: transparent
 }

h2 {
  font-size: 14pt;
  font-weight: 600;
  border-top: 2px solid #3498db;
  padding-bottom: 0px;
  margin: 15px 0 0px 0;
  color: #2c3e50;
}


.fab,
.fas {
  margin-right: 5px;
}
.entry {
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.entry-details {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  margin-bottom: 8px;
  font-size: 9pt;
  color: #7f8c8d;
}
.compact-list {
  margin: 5px 0;
  padding-left: 20px;
}

.compact-list li {
  margin-bottom: 5px;
}


.two-column {
  flex: 1
  padding: 20px;
  margin: 10px;
}

.two-column ul {
  width: 48%;
  margin: 0;
  padding-left: 20px;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

.position-history-table{
    width: 850px;         /* Set table width */
    border-collapse: collapse;  /* Equivalent to cellspacing="0" */
    padding: 0;
}
h2.summary-title{
    margin-top: 5px
}

@media print {
  body {
    padding: 0;
    margin: 0;
    font-size: 9pt;
    background-color: #fff;
    margin: 0
    margin-top: 10px
    margin-bottom: 10px */
  }
  .page-break{
     clear: both;
     page-break-after: always;
  }
.two-column{
    column-count: 2;
    column-fill: balance; /* Vertical use of space, default: balance the creation of columns is symmetrical. Auto with width: 100%, First complete the first column vertically, then the next column until the end of the content. */
    column-gap: 0px; /* Distance between columns */
    column-rule: 2px; /* Lines between columns */
    column-span: all; /* Another method to create heading, can be 2 of 3 columns */
    column-width: auto; /* Width of all columns */
  }
/*
    .print-page::before {
        content: '';
        height: 100px;
        margin-bottom: 10px;
        margin-top: 10px
    }
    #experience-content {
        display: table;
        table-layout: fixed;
        positon: fixed;
        top: 10px;
        left: 0px
        padding-top: 20px;
        padding-bottom: 20px;
        width: 94%;
        height: auto;
    }

    .header table{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 850px;
        margin: 0px auto;
        border-collapse: collapse;
        border-top: none; border-bottom: 3.00pt double #3498db; border-left: none; border-right: none;
    }
*/
   h2{
    margin-top: 45px
  }
    /* Ensure the header doesn't overlap content */
    #content {
       margin-top: 10px; /* Adjust based on header height */
    }

  @page {
    margin-lef: 0.5in;margin-right: 0.5 in; margin-bottom: 0.25in; margin-top: 0.1in
  }

}